/*CSS Document*/
body{
        font-family:"Courier New", Palatino Linotype, Century Gothic;
        color: #FFFFFF;
        background-color: #6c707a;
        margin: 0px;
	    padding: 0px;
}

ul {
    width: 100px;
    margin: 0 auto;
    list-style-type:none;
    /* 0 for top and bottom. auto for left and right*/
}

li{ text-align: center;}

a:link{
    color:#dfdee6;
    padding:10pt;
}
a:visited{
    color:#FFFFFF;
}
a:hover{
    text-decoration:none;
}
a:active{
    color:#FFFFFF;
}
p.blocktext{
    margin-left: auto;
    margin-right: auto;
    width:6em;
}
p#title{
    font-size:48pt;
    text-transform:uppercase;
    background-color:#A0BFB0;
}
p#one{
    font-size:24pt;
}
p#two{
    font-size:80pt;
    word-spacing:10px;
    padding:50px;
    background-color:#62ba97;
}
p#three{
   border:1px solid;
   border-radius: 10px;
   width:300px; 
   padding: 10px 40px;
   margin:20px;
}
p#four{
   background-color:#FF7878;
   font-size:80pt;
}
p#five{
    text-transform:uppercase;
    font-size:100pt;
    font-style:bold;
    background-color:rgba(0,0,0,.5);
    line-height:20px;
}
p#six{
    font-style:italic;
    text-align:right;
    background-color:#A0BFB0;
    font:"Century Gothic";
}
p#seven{
    background-color:rgba(0,0,0,.5);
    text-align:center;
    font-size:60pt;
}
p#eight{
    font-size:60pt;
    font-style:bold;
    text-transform:uppercase;
    padding-left:20px;
    background-color:#62ba97;
}
p#nine{
    text-align:center;
    text-decoration:line-through;
    padding-top:100x;
    padding-bottom:50px;
    letter-spacing:100px;
}
p#strike{
    text-decoration:line-through;
    font-size:24pt;
    padding-left:10px;
    background-color:#89E1D7;
    letter-spacing:25px;
}
p#padding{
    padding-left:30px;
}