
img.center {
  display: block;
  margin:0 auto;
  max-width:100%;
  }

p.center{
	text-align:center;
	font-size:8pt;
}

.container{
	width:650px;
	margin:0 auto;
}

h2 {
	text-align:left;
	font-family: "Petit Formal Script", cursive;
	font-size:18pt;
}

p.left {
	font-family: 'Source Sans Pro', sans-serif;
	padding-top:30px;
	text-align:left;
	font-size:13pt;
}

#bluebg .col {
	background:#00AEEF;
	color:white;
	}

a:link i.fa-twitter-square{
	color:#00AEEF;
}

a:visited i.fa-twitter-square{
	color:#00AEEF;
}

a:hover i.fa-twitter-square{
	color:#00AEEF;
}

a:active i.fa-twitter-square{
	color:#00AEEF;
}

a:link i.fa-facebook-square{
	color:#00AEEF;
}

a:visited i.fa-facebook-square{
	color:#00AEEF;
}

a:hover i.fa-facebook-square{
	color:#00AEEF;
}

a:active i.fa-facebook-square{
	color:#00AEEF;
}

a:link i.fa-instagram{
	color:#00AEEF;
}

a:visited i.fa-instagram{
	color:#00AEEF;
}

a:hover i.fa-instagram{
	color:#00AEEF;
}

a:active i.fa-instagram{
	color:#00AEEF;
}

